<h3>Sobre nosotros!</h3>

<p class="text-abouth">Tienda de Calzado masculino y femenino de excelente calidad, traidos de las mejores fabricas del pais exclusivos para ustedes! <br> 
Aqui abajo tendras mas informacion sobre nosotros y nuestras redes sociales! 

</p>

    <div class="abouth">
        <h6>Contacto: </h6> <p>2494568716 o 223689745</p>
    </div >
    <div class="abouth">
        <h6>Email: </h6> <p>Shoeshop@shoe.com</p>
    </div >
    <div class="abouth">
        <h6>Nuestras Redes Sociales:</h6>  <p>Instagram: ShoeShop_   <br> Facebook: ShoeShopOk <br> Twiter: @Shoeshopp</p>
    </div>
